<!DOCTYPE html>
<html>
	<head>
		<title>deployed for {{ ansible_distribution }}</title>
	</head>
	<body>
		<h1>Deployed with Ansible by {{ ansible_user_id }}</h1>
		<p>{{ data }} </p>
	</body>
</html>

